@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  
  .btn {
    padding: 2%;
    justify-content: center;
    display: flex;
    width: 8rem;
  }


  header {
      margin:0;
      font-size: 3rem;
      text-align: center;
      padding: 1.5rem;
      background-color: rgb(234, 241, 238);
      display: flex;
      justify-content: center;
  }

  .text-align-center {
      text-align: center;
  }


  .card-deck {

    width: 100rem;
    display: flex;
    justify-content: center;
  }

  .card {

    width: 120rem;
    display: flex;
    padding-top: 10rem;
    justify-content: center;
  }

  .card-title {
    font-size: 3rem;
  }

  #city-search-history {
    color:black;
  }